@charset "UTF-8";
.ly_car, .product, .bread { max-width: 100%; margin-left: auto; margin-right: auto; max-width: 1250px; }
.ly_car:after, .product:after, .bread:after { content: " "; display: block; clear: both; }

.th_carPlace > footer:after, .th_carPlace > footer ul:after, .md_carPlace:after, .pt_carPlace:after, .bread:after, .h3PD:after { content: ""; display: block; clear: both; }

.ly_car > h3 strong, .sideNav > h3 strong { font-size: 24px; color: #595F5F; font-weight: bolder; letter-spacing: 3px; }
.ly_car > h3 strong span, .sideNav > h3 strong span { font-size: 32px; color: #83AD00; line-height: 42px; }
.ly_car > h3 p, .sideNav > h3 p { font-size: 26px; line-height: 42px; color: #C1C6C6; font-family: "Times New Roman"; float: right; }

.pageMB { text-align: center; }
.pageMB a { display: inline-block; border: 1px solid #ccc; padding: 1px 6px; margin: 0 5px 10px; text-decoration: none; vertical-align: bottom; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.pageMB a:hover { background-color: #ddd; font-weight: bolder; }
.pageMB > a { font-family: 新細明體; color: #999; width: 60px; }
.pageMB > p { display: inline-block; margin: 0 25px; }
.pageMB > p a { margin-top: 1px; color: #666; font-family: Arial; }
@media (max-width: 680px) { .pageMB > a { width: 47.91667%; float: left; margin-left: 1.04167%; margin-right: 1.04167%; }
  .pageMB p { width: 97.91667%; float: left; margin-left: 1.04167%; margin-right: 1.04167%; }
  .pageMB a { padding: 2px 6px; } }

.th_carPay > header, .th_carPlace > header, .th_carOrder > header { border-bottom: 3px solid #CADFAA; padding-bottom: 15px; }
.th_carPay > header img, .th_carPlace > header img, .th_carOrder > header img { float: left; margin-right: 10px; }
.th_carPay > header h4, .th_carPlace > header h4, .th_carOrder > header h4 { font-size: 16px; font-weight: bolder; color: #4C6600; padding-top: 7px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.th_carPlace > footer a, .send { text-decoration: none; display: inline-block; font-size: 15px; padding: 10px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.th_car { padding-top: 60px; padding-bottom: 40px; }
.th_car ul { white-space: normal; text-align: center; }
.th_car ul li { display: inline-block; border: 1px solid #98B300; padding: 15px 20px; font-size: 15px; font-weight: bolder; color: #98B300; position: relative; }
.th_car ul li + li { margin-left: 88px; }
.th_car ul li + li:before { content: ""; display: block; background: url(../images/share/borrow_A_R.png) no-repeat center; width: 88px; height: 38px; position: absolute; top: 12px; left: -88px; }
.th_car ul .on { background-color: #98B300; color: #FFF; }
.th_car ul .on span { background-color: #FFF; }
.th_car ul span { display: inline-block; margin-right: 15px; width: 32px; height: 32px; background-color: #F5F5EB; text-align: center; line-height: 32px; color: #98B300; font-size: 22px; font-family: Arial; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.th_car ul strong { display: inline-block; float: right; margin-top: 7px; }

.th_carPay { padding-bottom: 50px; }
.th_carPay > table { border: 1px solid #CADFAA; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin-top: 3px; }
.th_carPay > table tr { border-bottom: 1px solid #eee; }
.th_carPay > table h6, .th_carPay > table p { font-size: 13px; color: #545454; float: left; padding: 20px; }
.th_carPay > table h6 { min-width: 100px; }
.th_carPay > table p { display: block; }
.th_carPay > table p strong { font-family: Arial; font-size: inherit; color: #D86C00; font-weight: bolder; }
.th_carPay > table p em { color: #D86C00; }
.th_carPay > table span { display: block; float: right; margin-right: 20px; margin-top: 15px; margin-bottom: 15px; }
.th_carPay > table span img { float: left; margin-left: 10px; }
.th_carPay > table label { display: block; float: right; text-align: center; padding-top: 20px; padding-bottom: 20px; width: 65px; background-color: #F5F5EB; }
.th_carPay > table td.oneColumn { width: 220px; }

.th_carPlace > header h4 { float: left; margin-right: 25px; }
.th_carPlace > header select { background-color: #000; color: #777; font-size: 13px; padding: 2px 5px; }
.th_carPlace > footer { text-align: right; padding-bottom: 20px; }
.th_carPlace > footer ul { white-space: nowrap; margin-bottom: 25px; }
.th_carPlace > footer li { display: inline-block; margin-left: 20px; }
.th_carPlace > footer .on a { background-color: #FF0000; color: #FFF; }
.th_carPlace > footer a { background-color: #ddd; }
.th_carPlace > footer > a { background-color: #FF0000; color: #FFF; }

.md_carPlace { margin-top: 3px; margin-bottom: 40px; border: 1px solid #CADFAA; }
.md_carPlace > table { width: 100%; }
.md_carPlace > table thead { border-bottom: 1px solid #CADFAA; }
.md_carPlace > table th { font-size: 15px; font-weight: bolder; color: #859233; padding-top: 10px; padding-bottom: 10px; text-align: center; }
.md_carPlace > table h3 { font-size: 14px; font-weight: bolder; color: #98B200; display: inline-block; vertical-align: top; margin-top: 20px; }
.md_carPlace > table tr { border-bottom: 1px solid #eee; }
.md_carPlace > table td { font-size: 13px; color: #555; text-align: center; padding-top: 10px; padding-bottom: 10px; }
.md_carPlace > table td figure { display: inline-block; margin-right: 20px; }
.md_carPlace > table td figure img { width: 100%; }
.md_carPlace > table .number { font-family: Arial; font-size: 15px; color: #555; }
.md_carPlace > table .name { text-align: left; padding-right: 30px; padding-left: 30px; width: 40%; }
.md_carPlace > table .amount div { border: 1px solid #eee; display: inline-block; height: 28px; line-height: 28px; font-size: 0; }
.md_carPlace > table .amount div a { text-decoration: none; display: inline-block; padding-right: 5px; padding-left: 5px; height: 28px; font-size: 13px; }
.md_carPlace > table .amount div a img { display: inline-block; vertical-align: middle; margin-top: -4px; }
.md_carPlace > table .amount div span { display: inline-block; border-right: 1px solid #eee; border-left: 1px solid #eee; padding-right: 10px; padding-left: 10px; font-size: 13px; }

.pt_carPlace { padding-top: 30px; padding-bottom: 40px; }
.pt_carPlace > header { float: left; margin-left: 35px; margin-top: 45px; }
.pt_carPlace > header span { display: inline-block; font-size: 14px; color: #FFF; background-color: #98B200; padding: 2px 5px; margin-right: 10px; }
.pt_carPlace > header p { display: inline-block; font-size: 13px; }
.pt_carPlace > header p strong { font-family: Arial; font-size: inherit; font-weight: bolder; color: #B20000; }

.carPlace { width: 388px; float: right; margin-right: 10px; }
.carPlace > footer { border-top: 2px solid #CADFAA; text-align: right; padding-top: 15px; }
.carPlace > footer span { font-size: 17px; color: #B20000; font-weight: bolder; }
.carPlace li { text-align: right; margin-bottom: 15px; }
.carPlace p { display: inline-block; font-size: 15px; }
.carPlace p em { font-weight: bolder; color: #B20000; display: inline-block; padding-right: 5px; padding-left: 5px; }
.carPlace p strong { display: inline-block; margin-left: 5px; }
.carPlace span { font-family: Arial; font-size: 15px; color: #555; min-width: 115px; display: inline-block; padding-right: 24px; }

.th_carOrder { padding-bottom: 20px; border-bottom: 1px solid #CADFAA; }
.th_carOrder > header { margin-bottom: 20px; }
.th_carOrder > header h4 { display: inline-block; margin-right: 90px; }
.th_carOrder > header p { display: inline-block; font-size: 13px; }
.th_carOrder > table { width: 100%; }
.th_carOrder > table th { width: 10.41667%; background-color: #F3F3F3; color: #535353; padding: 15px 15px 15px 40px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.th_carOrder > table td { width: 85.41667%; padding: 5px 0 5px 30px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.th_carOrder > table td input[type=text] { border: 1px solid #CADFAA; height: 28px; padding-right: 5px; padding-left: 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 31.25%; float: left; margin-right: 20px; }
.th_carOrder > table td select { border: 1px solid #CADFAA; height: 28px; padding-right: 5px; padding-left: 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: left; margin-right: 10px; }
.th_carOrder > table td p { font-size: 13px; color: #D96D00; margin-top: 5px; }
.th_carOrder > table td label { font-size: 13px; margin-right: 10px; display: inline-block; margin-top: 5px; }
.th_carOrder > table td .noColor { color: #272822; }
.th_carOrder > table td textarea { border: 1px solid #CADFAA; padding-right: 5px; padding-left: 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 52.08333%; float: left; margin-right: 20px; resize: none; }
.th_carOrder > table tr { border-bottom: 3px solid #FFF; }
.th_carOrder + .th_carOrder { margin-top: 90px; }

.send { color: #FFF; background-color: #FF0000; float: right; margin: 30px 0; }
.send:hover { color: #FFF; }

@media (max-width: 1270px) { .ly_car { padding-right: 20px; padding-left: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .th_carOrder > table th { padding-left: 15px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } }
@media (max-width: 980px) { .th_carPay > table td, .th_carPay > table tr { display: block; }
  .th_carPay > table tr { border: none; }
  .th_carPay > table td { border-bottom: 2px solid #CADFAA; float: left; width: 100%; position: relative; }
  .th_carPay > table td.oneColumn { width: 100%; border-width: 1px; border-color: #eee; }
  .th_carPay > table td.oneColumn label { position: absolute; top: 0; left: 0; padding-top: 19px; padding-bottom: 19px; }
  .th_carPay > table h6 { padding-left: 70px; }
  .md_carPlace > table thead { display: none; }
  .md_carPlace > table tr { float: left; width: 100%; display: block; }
  .md_carPlace > table td { display: inline-block; width: 100%; padding-left: 28%; padding-right: 2%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: left; text-align: left; position: relative; border-bottom: 1px solid #eee; }
  .md_carPlace > table td:before { content: attr(data-th); width: 25%; float: left; text-align: center; word-wrap: break-word; word-break: break-all; background-color: #F3F3F3; position: absolute; top: 0; left: 0; height: 100%; padding-top: 10px; padding-bottom: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .md_carPlace > table .name { width: 100%; padding-left: 28%; padding-right: 2%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .md_carPlace > table .name div { width: 100%; float: left; } }
@media (max-width: 900px) { .th_carOrder + .th_carOrder { margin-top: 30px; }
  .th_carOrder > table tr { background-color: #F3F3F3; }
  .th_carOrder > table th { width: 18.75%; float: left; margin-left: 1.04167%; margin-right: 1.04167%; }
  .th_carOrder > table td { width: 77.08333%; float: left; margin-left: 1.04167%; margin-right: 1.04167%; padding: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .th_carOrder > table td input[type=text] { width: 100%; }
  .th_carOrder > table td select { margin-bottom: 10px; }
  .th_carOrder > table td p { float: left; }
  .th_carOrder > table td textarea { margin-right: 0; width: 100%; } }
@media (max-width: 800px) { .carPlace { width: 100%; margin-right: 0; float: none; padding-right: 20px; padding-left: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .carPlace span { padding-right: 10px; }
  .pt_carPlace > header { width: 100%; margin-top: 0; margin-left: 0; padding-right: 20px; padding-left: 20px; padding-bottom: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: right; } }
@media (max-width: 780px) { .th_car ul li { padding: 10px; }
  .th_car ul li + li { margin-left: 30px; }
  .th_car ul li + li:before { width: 20px; left: -28px; top: 6px; }
  .th_carPay > table span { float: left; display: block; width: 100%; margin-top: 0; padding-left: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } }
@media (max-width: 580px) { .th_car { padding-top: 10px; padding-bottom: 20px; }
  .th_car ul li { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin-bottom: 5px; }
  .th_car ul li + li { margin-left: 0; }
  .th_car ul li + li:before { display: none; }
  .th_car ul span { float: left; margin-left: 24%; }
  .th_car ul strong { float: left; }
  .th_carOrder > table th { width: 27.08333%; float: left; margin-left: 1.04167%; margin-right: 1.04167%; padding: 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .th_carOrder > table td { width: 68.75%; float: left; margin-left: 1.04167%; margin-right: 1.04167%; padding: 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } }
@media (max-width: 500px) { .carPlace p { width: 64.58333%; }
  .carPlace p strong { display: block; }
  .carPlace span { width: 31.25%; min-width: auto; }
  .th_carPlace > footer ul { margin-bottom: 10px; }
  .th_carPlace > footer li { width: 47.91667%; float: left; margin-left: 1.04167%; margin-right: 1.04167%; }
  .th_carPlace > footer li a { width: 100%; display: block; }
  .th_carPlace > footer a { padding: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; }
  .th_carPlace > footer .on { width: 97.91667%; float: left; margin-left: 1.04167%; margin-right: 1.04167%; margin-top: 10px; margin-bottom: 10px; }
  .th_carPlace > footer > a { width: 97.91667%; float: left; margin-left: 1.04167%; margin-right: 1.04167%; }
  .send { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; } }
.product .md_product { float: right; }
.product .pt_product ul { margin-bottom: 50px; }
.product .pt_product .h3PD { margin-bottom: 30px; }
.product .th_product { border-bottom: 2px solid #eee; padding-bottom: 40px; }

.bread { background-color: #F0F0F0; margin-bottom: 10px; padding-top: 5px; padding-bottom: 5px; padding-right: 15px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.bread ul { float: right; background: url(../images/share/icon_07.png) no-repeat left 5px; padding-left: 15px; }
.bread ul li { float: left; }
.bread ul li + li:before { content: ">"; display: inline-block; padding-right: 5px; padding-left: 5px; }
.bread ul a { text-decoration: none; }

.h3PD { height: 72px; padding-top: 25px; padding-left: 90px; border-bottom: 1px solid #ddd; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: url(../images/share/icon_6.png) no-repeat left bottom; }

.sideNav { width: 285px; float: left; padding-top: 30px; }
.sideNav > ul { border: 1px solid #ddd; padding-bottom: 30px; }
.sideNav > ul a { text-decoration: none; display: block; }
.sideNav > ul > li { border-bottom: 1px dashed #ddd; }
.sideNav > ul > li > a { font-size: 15px; color: #859233; font-weight: bolder; padding-top: 15px; padding-bottom: 15px; padding-left: 50px; background: url(../images/share/borrow_G_R.png) no-repeat 32px 20px; }
.sideNav > ul > li > a:hover { background-color: #F5F5EB; background-image: url(../images/share/borrow_G_b.png); background-position: 32px 22px; }
.sideNav > ul > li ul { border-top: 1px dashed #ddd; padding-top: 5px; padding-bottom: 5px; }
.sideNav > ul > li ul a { font-size: 13px; color: #666; padding-left: 50px; padding-top: 5px; padding-bottom: 5px; }
.sideNav > ul > li ul a:hover { color: #859233; }

@media (max-width: 1270px) { .sideNav { display: none; } }
@media (max-width: 680px) { .product .th_product { border-bottom: 2px solid #eee; padding-bottom: 20px; margin-bottom: 30px; } }
@media (max-width: 500px) { .h3PD { -moz-background-size: 30px; -o-background-size: 30px; -webkit-background-size: 30px; background-size: 30px; background-position: 0 6px; padding-left: 40px; padding-top: 0; height: auto; } }

/*# sourceMappingURL=page.css.map */
