.anchor ul { letter-spacing: -4px; font-size: 0; }

.anchor li { letter-spacing: normal; display: inline-block; *display: inline; zoom: 1; }

.th_intro:after { content: ""; display: block; clear: both; }

.anchor ul { background: url(../images/anchorBg.png) repeat; padding: 0 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.anchor li { display: inline-block; line-height: 35px; }
.anchor li a { display: inline-block; line-height: 36px; text-decoration: none; }
.anchor li a:after { content: "|"; display: inline; font-size: 12px; line-height: 20px; color: #c8e02a; padding-left: 5px; }
.anchor li a:hover { background-color: #c8e02a; }
.anchor li a:hover span, .anchor li a:hover strong { color: #222; }
.anchor li span { font-size: 12px; line-height: 20px; color: #aaa; padding: 0 5px; }
.anchor li strong { font-size: 20px; line-height: 20px; color: #c8e02a; }

.th_intro { background-color: rgba(255, 255, 255, 0.7); }

.md_intro { width: 100%; float: left; margin-bottom: 20px; }
.md_intro header { margin-bottom: 5px; width: 97.91667%; float: left; margin-left: 1.04167%; margin-right: 1.04167%; font-size: 18px; line-height: 20px; }
.md_intro header strong { font-size: 24px; line-height: 30px; font-weight: bolder; }
.md_intro figure { width: 43.75%; float: left; margin-left: 1.04167%; margin-right: 1.04167%; }
.md_intro figure img { max-width: 100%; }

.intro_CT { text-decoration: none; width: 52.08333%; float: left; margin-left: 1.04167%; margin-right: 1.04167%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #c8e02a; border-bottom-width: 4px; border-right-width: 25px; padding: 10px; background-color: #fff; margin-bottom: 5px; position: relative; }
.intro_CT:before, .intro_CT:after { content: ""; display: block; width: 20px; height: 4px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; background-color: #fff; position: absolute; right: -22px; z-index: 2; }
.intro_CT:before { -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); top: 48px; }
.intro_CT:after { -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); top: 60px; }
.intro_CT h3 { font-size: 16px; line-height: 20px; }
.intro_CT p { font-size: 14px; line-height: 20px; color: #d40c52; }
.intro_CT footer { margin-top: 5px; border-top: 1px dashed #d2d2d2; text-align: right; font-size: 12px; line-height: 20px; color: #333; }
.intro_CT footer strong { font-size: 24px; line-height: 30px; color: #dc3b31; font-weight: bolder; }

@media (min-width: 0px) { html, body { min-width: 320px; } }
@media (max-width: 980px) { .md_intro header { text-align: center; }
  .md_intro figure { margin-bottom: 5px; width: 97.91667%; float: left; margin-left: 1.04167%; margin-right: 1.04167%; text-align: center; }
  .md_intro figure img { display: inline; }
  .md_intro figure figcaption { text-align: left; }
  .intro_CT { width: 97.91667%; float: left; margin-left: 1.04167%; margin-right: 1.04167%; } }

/*# sourceMappingURL=intro.css.map */
