%indent {
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
%decoration {
    display: block;
    text-decoration: none;
}
%block {
    @include container();
    max-width: $mainWidth;
}
%vertical-outer {
    &:before {
        display: inline-block;
        vertical-align: middle;
        width: 0px;
        height: 100%;
        content: "";
        visibility: hidden;
    }
}
%vertical-inner {
    display: inline-block;
    vertical-align: middle;
}

%inline-outer {
  letter-spacing: -4px; //可能需要微調
  // word-spacing: -4px;
  font-size: 0;
}
%inline-inner {
  letter-spacing: normal; //可能需要微調
  // word-spacing: normal;
  display:inline-block;
  *display: inline;
  zoom:1;
}
// 省略...
%da {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
//清掉float
%clear {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}
%word {
  *, *:before, *:after {
    @include adjust-font-size-to($base-font-size);
    color: $darkColor;
    font-family: "Microsoft JhengHei", "Apple LiGothic Medium", "PMingLiU", "sans-serif", "serif";
  }
}