.page_content:before { display: inline-block; vertical-align: middle; width: 0px; height: 100%; content: ""; visibility: hidden; }

.page_content > div { display: inline-block; vertical-align: middle; }

.pt_bike:after, .md_adven > header:after, .pt_adven:after, .pt_adList ul:after, .th_services > header .serList:after, .md_services .serList:after, .pt_services:after, .th_company:after, .md_page:after, .pt_page ul:after { content: ""; display: block; clear: both; }

.th_adven .top, .pt_bike li a, .pt_bikeCT table th, .pt_bikeCT table td, .th_adven > header, .md_adven, .pt_adven, .pageMB, .md_services .serList, .pt_services, .th_company, .md_center, .bread, .th_page { font-family: "Arial", "Apple LiGothic Medium", "Microsoft JhengHei",  "PMingLiU", "sans-serif", "serif"; }

.pt_adven .view, .pt_adList .adven .view { font-size: 10px; -webkit-transform: scale(0.8); transform: scale(0.8); letter-spacing: 1px; display: block; font-family: Arial Unicode MS; }

.pt_adven .adven .chooseed span, .pt_adList .adven .chooseed span { font-size: 9px; -webkit-transform: scale(0.7); transform: scale(0.7); letter-spacing: 1px; display: block; font-family: Arial Unicode MS; }

.pt_adList .adven p { font-size: 11px; -webkit-transform: scale(0.9); transform: scale(0.9); letter-spacing: 1px; display: block; font-family: Arial Unicode MS; }

.md_adven .all h6:after, .md_center .likeBox .prev:before, .md_center .likeBox .prev:after, .md_center .likeBox .next:before, .md_center .likeBox .next:after { content: ""; display: block; width: 0; height: 0; border-style: solid; position: absolute; }

.pt_adven .view, .pt_adList .adven .view { color: #fff; text-decoration: none; float: right; position: relative; padding-right: 25px; }
.pt_adven .view:hover, .pt_adList .adven .view:hover { color: #93d60a; }
.pt_adven .view:after, .pt_adList .adven .view:after { content: ""; display: block; width: 0; height: 0; border-style: solid; border-width: 5px 0 5px 10px; border-color: transparent transparent transparent #93d60a; position: absolute; top: 5px; right: 0; }

.th_adven .top { display: block; width: 40px; height: 40px; line-height: 40px; text-decoration: none; font-size: 12px; text-align: center; border: 1px solid #93d60a; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; color: #93d60a; position: absolute; right: 50%; margin-right: -20px; bottom: -90px; z-index: 99; background-color: #FFF; }
.th_adven .top:hover { background-color: #93d60a; color: #FFF; }
@media (max-width: 500px) { .th_adven .top { right: 0; margin-right: 20px; } }

@media (max-width: 1000px) { .th_services > header .serList, .th_company .sideNav { background-color: #b5b5b5; padding: 20px 20px 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .th_services > header .serList li, .th_company .sideNav li { float: left; margin-right: 20px; margin-bottom: 10px; }
  .th_services > header .serList li a, .th_company .sideNav li a { color: #FFF; position: relative; padding-right: 5px; }
  .th_services > header .serList li a:after, .th_company .sideNav li a:after { content: "/"; display: inline-block; position: absolute; right: -10px; top: 2px; }
  .th_services > header .serList li:nth-last-child(1) a:after, .th_company .sideNav li:nth-last-child(1) a:after { display: none; } }
@media (max-width: 500px) { .th_services > header .serList, .th_company .sideNav { padding-bottom: 10px; }
  .th_services > header .serList li, .th_company .sideNav li { margin-bottom: 10px; }
  .th_services > header .serList li a, .th_company .sideNav li a { font-size: 15px; } }

.th_bike { width: 100%; float: left; position: relative; margin-bottom: 20px; }

.md_picShow { position: relative; margin-bottom: 20px; }
.md_picShow li { width: 980px; }
.md_picShow li a { display: block; }
.md_picShow li img { width: 100%; }
.md_picShow .prev, .md_picShow .next { display: inline-block; width: 40px; height: 40px; position: absolute; top: 50%; margin-top: -20px; z-index: 3; }
.md_picShow .next { background: url(../images/bt-next_.png) no-repeat; right: 0; }
.md_picShow .prev { background: url(../images/bt-prev_.png) no-repeat; left: 0; }

.pt_bike li { float: left; width: 204px; }
.pt_bike li a { display: inline-block; width: 100%; height: 40px; line-height: 40px; font-size: 18px; text-align: center; font-weight: bolder; color: #FFF; text-decoration: none; background-color: #b5b5b5; }
.pt_bike li a:hover { background-color: #93d60a; }
.pt_bike li.on a { background-color: #93d60a; }

.pt_bikeCT table { width: 100%; }
.pt_bikeCT table tr:nth-child(odd) { background-color: #eee; }
.pt_bikeCT table th { width: 31.25%; padding: 10px 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 17px; font-weight: bold; color: #333; }
.pt_bikeCT table td { font-size: 17px; color: #666; }

@media (max-width: 1000px) { .th_bike { padding-top: 30px; }
  .md_picShow li { width: auto; } }
@media (max-width: 800px) { .pt_bike li { width: 33.33333%; float: left; }
  .pt_bikeCT table th { width: 47.91667%; } }
@media (max-width: 500px) { .pt_bike li { width: 100%; float: left; margin: 0; } }
.th_adven { width: 100%; float: left; position: relative; }
.th_adven > header { margin-bottom: 100px; }
.th_adven > header h5 { font-size: 32px; color: #333; text-align: center; margin-bottom: 30px; }
.th_adven > header > p { border-top: 1px solid #333; border-bottom: 1px solid #333; width: 510px; padding-top: 35px; padding-bottom: 35px; margin: auto; text-align: center; line-height: 25px; }
.th_adven > header span { font-size: 16px; color: #333; display: inline-block; line-height: 25px; }

.md_adven { padding-right: 40px; padding-left: 60px; margin-bottom: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.md_adven > header { width: 100%; float: left; margin-bottom: 25px; }
.md_adven > header h3 { font-size: 24px; color: #333; font-weight: bolder; float: left; margin-right: 35px; }
.md_adven .all { width: 135px; height: 25px; padding-top: 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border-bottom: 1px solid #808080; float: left; position: relative; }
.md_adven .all:hover > div { display: block; }
.md_adven .all h6 { height: 100%; position: relative; font-size: 12px; color: #808080; text-decoration: none; }
.md_adven .all h6:after { border-width: 0 3px 5px 3px; border-color: transparent transparent #93d60a transparent; top: 5px; right: 0; }
.md_adven .all > div { position: absolute; top: 24px; left: 0; z-index: 5; background-color: #d7d7d7; border: 1px solid #b8b8b8; padding: 5px; display: none; }
.md_adven .all > div a { display: block; font-size: 14px; color: #818181; text-decoration: none; padding: 5px 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.md_adven .all > div a:hover { background-color: #93d60a; color: #FFF; }
.md_adven .all > div input { width: 100%; height: 24px; margin-bottom: 5px; padding-right: 25px; padding-left: 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.md_adven .all > div .zoom { position: absolute; right: 0; top: 4px; }
.md_adven .all > div .zoom:hover { background-color: transparent; }
.md_adven .list { float: right; }
.md_adven .list a { display: inline-block; }
.md_adven .list a img { opacity: .5; }
.md_adven .list a + a { margin-left: 8px; }
.md_adven .list a:hover img { opacity: 1; }

.pt_adven { padding-bottom: 15px; padding-top: 15px; border-bottom: 1px solid #000; }
.pt_adven figure { width: 350px; float: left; margin-right: 40px; position: relative; }
.pt_adven figure > div { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); position: absolute; top: 0; left: 0; z-index: 3; display: none; }
.pt_adven figure > div a { display: block; width: 115px; height: 30px; line-height: 30px; text-align: center; font-size: 14px; text-decoration: none; color: #FFF; border: 1px solid #FFF; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }
.pt_adven figure:hover div { display: block; }
.pt_adven figure > img { width: 100%; }
.pt_adven .adven { width: 490px; min-height: 250px; float: left; padding-top: 20px; padding-right: 85px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; }
.pt_adven .adven .chooseed { display: block; width: 80px; height: 15px; line-height: 15px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; background-color: #93d60a; color: #FFF; margin-bottom: 10px; }
.pt_adven .adven h5 { font-size: 18px; margin-bottom: 10px; line-height: 20px; }
.pt_adven .adven p { font-size: 12px; color: #808080; line-height: 18px; }
.pt_adven .view { margin-top: 25px; margin-left: -5px; display: block; font-size: 16px; text-decoration: none; color: #333; float: left; padding-right: 18px; }
.pt_adven .likeBox { width: 100%; float: left; position: absolute; bottom: 0; }
.pt_adven .likeBox ul { white-space: nowrap; }
.pt_adven .likeBox ul li { display: inline-block; }
.pt_adven .likeBox ul li a { display: inline-block; padding-right: 8px; }
.pt_adven .likeBox ul img { display: inline-block; }
.pt_adven .likeBox ul span { font-size: 12px; color: #b5b5b5; display: inline-block; padding-right: 20px; position: relative; top: -5px; }

.pageMB { text-align: center; margin-top: 20px; }
.pageMB a { font-size: 12px; color: #333; text-decoration: none; display: inline-block; padding-right: 6px; padding-left: 6px; }
.pageMB a:hover { text-decoration: underline; }
.pageMB > p { display: inline-block; }

.pt_adList li { float: left; position: relative; width: 287px; }
.pt_adList li:hover .adven { display: block; }
.pt_adList li img { width: 100%; }
.pt_adList .adven { position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 30px 20px 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: rgba(0, 0, 0, 0.5); display: none; }
.pt_adList .adven .chooseed { display: block; width: 80px; height: 15px; line-height: 15px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; background-color: #93d60a; color: #FFF; margin-bottom: 10px; }
.pt_adList .adven h5 { font-size: 18px; color: #FFF; margin-bottom: 10px; }
.pt_adList .adven p { color: #808080; margin-left: -10px; }
.pt_adList .adven .view { margin-left: -3px; position: absolute; bottom: 20px; right: 20px; }
.pt_adList .adven .view:after { top: 2px; }

.th_services > header .serList { margin-top: -40px; margin-bottom: 30px; display: none; }
.th_services > header .serList li a { font-size: 21px; color: #FFF; text-decoration: none; }
.th_services > header .serList li a:hover { color: #93d60a; }
.th_services > header .serList li.on a { color: #93d60a; }

.md_services .serList a { display: inline-block; padding-right: 20px; padding-left: 20px; text-decoration: none; color: #333; font-size: 14px; height: 40px; line-height: 40px; }
.md_services .serList a:hover { background-color: #333; color: #FFF; }
.md_services .serList li { float: left; }
.md_services .serList .on a { background-color: #333; color: #FFF; }

.pt_services { background-color: #333; padding: 40px 50px 50px; margin-bottom: 70px; }
.pt_services > figure { width: 125px; float: left; margin-right: 50px; }
.pt_services > figure > img { width: 100%; }
.pt_services .pt_company { width: 630px; float: left; }
.pt_services .pt_company > h4 { font-size: 19px; line-height: 25px; color: #FFF; padding-bottom: 25px; border-bottom: 1px solid #FFF; margin-bottom: 30px; }
.pt_services .pt_company p { color: #FFF; }

@media (max-width: 1000px) { .th_adven { padding-top: 40px; }
  .md_adven { padding-right: 20px; padding-left: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .pt_adven { width: 100%; float: left; }
  .pt_adven figure { width: 33.33333%; float: left; margin-right: 0; }
  .pt_adven .adven { width: 66.66667%; float: left; padding-left: 20px; padding-right: 0; padding-top: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; min-height: auto; }
  .pt_adven .likeBox { position: relative; }
  .pageMB { width: 100%; float: left; margin-bottom: 20px; }
  .pt_adList ul { width: 100%; float: left; }
  .pt_adList li { width: 33.33333%; float: left; }
  .th_services > header .serList { display: block; }
  .md_services .serList { display: none; }
  .pt_services { padding: 40px; margin-bottom: 40px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .pt_services > figure { width: 22.91667%; float: left; margin-left: 1.04167%; margin-right: 1.04167%; text-align: center; }
  .pt_services .pt_company { width: 72.91667%; float: left; margin-left: 1.04167%; margin-right: 1.04167%; padding-left: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } }
@media (max-width: 980px) { .pt_adList li { width: 50%; float: left; } }
@media (max-width: 800px) { .pt_adven .likeBox { display: none; }
  .pt_adven .view { display: none; } }
@media (max-width: 640px) { .th_adven > header { margin-bottom: 40px; }
  .th_adven > header > p { width: 89.58333%; margin-right: auto; padding: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .th_adven > header span { display: inline; }
  .md_adven > header { margin-bottom: 15px; }
  .md_adven .list { width: 100%; margin-top: 20px; }
  .pt_adList li { width: 100%; float: left; }
  .pt_services { padding: 30px 20px 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .pt_services > figure { width: 31.25%; float: left; margin-left: 1.04167%; margin-right: 1.04167%; }
  .pt_services .pt_company { width: 64.58333%; float: left; margin-left: 1.04167%; margin-right: 1.04167%; } }
@media (max-width: 500px) { .th_adven { padding-top: 40px; }
  .th_services > header .serList li a { font-size: 15px; }
  .pt_adven figure { width: 97.91667%; float: left; margin-left: 1.04167%; margin-right: 1.04167%; margin-bottom: 10px; }
  .pt_adven .adven { width: 97.91667%; float: left; margin-left: 1.04167%; margin-right: 1.04167%; padding-left: 0; } }
.th_company { position: relative; }
.th_company .banner { margin-bottom: 70px; width: 980px; }
.th_company .banner img { width: 100%; }
.th_company .sideNav { width: 200px; position: absolute; left: 50px; top: 435px; }
.th_company .sideNav li { border-bottom: 1px solid #b5b5b5; padding-top: 25px; padding-bottom: 15px; }
.th_company .sideNav li a { font-size: 21px; color: #b5b5b5; text-decoration: none; }
.th_company .sideNav li a:hover { color: #93d60a; }
.th_company .sideNav li.on a { color: #93d60a; }

.md_company { width: 530px; float: right; margin-right: 90px; }
.md_company > header { font-size: 18px; line-height: 24px; color: #93d60a; border-bottom: 1px solid #93d60a; position: relative; padding-bottom: 30px; margin-bottom: 30px; }
.md_company > header:before { content: ""; display: block; width: 70px; height: 3px; background-color: #93d60a; position: absolute; bottom: -1px; float: 0; }

.pt_company p { font-size: 13px; text-transform: uppercase; margin-bottom: 20px; line-height: 22px; color: #333; }
.pt_company p span { text-transform: none; }

@media (max-width: 1000px) { .th_company .sideNav { position: relative; left: 0; top: 0; width: 100%; float: left; }
  .th_company .sideNav li { padding: 0; border-bottom: 0; }
  .th_company .sideNav li a { color: #FFF; }
  .th_company .banner { width: 100%; float: left; margin-bottom: 30px; width: auto; }
  .md_company { width: 100%; float: left; padding-right: 20px; padding-left: 20px; padding-bottom: 50px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } }
@media (max-width: 500px) { .th_company .sideNav li a { font-size: 15px; } }
.th_center { width: 100%; float: left; position: relative; padding-right: 50px; padding-left: 50px; padding-bottom: 50px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.md_center { border-bottom: 1px solid #b5b5b5; padding-bottom: 20px; margin-bottom: 30px; }
.md_center h4 { font-size: 32px; line-height: 35px; color: #93d60a; margin-bottom: 15px; }
.md_center p { font-size: 14px; color: #808080; margin-bottom: 25px; }
.md_center .likeBox { position: relative; }
.md_center .likeBox ul { white-space: nowrap; }
.md_center .likeBox ul li { display: inline-block; }
.md_center .likeBox ul li a { display: inline-block; padding-right: 8px; }
.md_center .likeBox ul img { display: inline-block; }
.md_center .likeBox ul span { font-size: 12px; color: #b5b5b5; display: inline-block; padding-right: 20px; position: relative; top: -5px; }
.md_center .likeBox .prev, .md_center .likeBox .next { text-decoration: none; font-size: 12px; color: #808080; position: absolute; right: 0; bottom: 0; }
.md_center .likeBox .prev:hover, .md_center .likeBox .next:hover { color: #93d60a; }
.md_center .likeBox .prev:before, .md_center .likeBox .prev:after, .md_center .likeBox .next:before, .md_center .likeBox .next:after { border-color: transparent; top: 0px; }
.md_center .likeBox .prev { right: 70px; }
.md_center .likeBox .prev:before { border-width: 6px 10px 6px 0; right: -13px; border-right-color: #808080; }
.md_center .likeBox .prev:after { border-width: 6px 10px 6px 0; right: -15px; border-right-color: #FFF; }
.md_center .likeBox .prev:hover:before { border-right-color: #93d60a; }
.md_center .likeBox .next:before { border-width: 6px 0 6px 10px; left: -12px; border-left-color: #808080; }
.md_center .likeBox .next:after { border-width: 6px 0 6px 10px; left: -14px; border-left-color: #FFF; }
.md_center .likeBox .next:hover:before { border-left-color: #93d60a; }

@media (max-width: 1000px) { .th_center { padding-top: 40px; } }
@media (max-width: 720px) { .md_center .likeBox .prev, .md_center .likeBox .next { text-indent: -9999px; }
  .md_center .likeBox .prev:before, .md_center .likeBox .prev:after { border-width: 10px 15px 10px 0; top: -8px; }
  .md_center .likeBox .prev:after { right: -18px; }
  .md_center .likeBox .next:before, .md_center .likeBox .next:after { border-width: 10px 0 10px 15px; top: -8px; }
  .md_center .likeBox .next:after { left: -17px; } }
@media (max-width: 500px) { .md_center .likeBox { padding-bottom: 40px; }
  .md_center .likeBox .prev, .md_center .likeBox .next { right: auto; left: 0; }
  .md_center .likeBox .next { left: 50px; } }
.bread { margin-top: 35px; margin-bottom: 35px; width: 100%; float: left; padding-left: 50px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.bread li { float: left; }
.bread li + li { position: relative; margin-left: 20px; }
.bread li + li:before { content: "/"; display: inline-block; color: #808080; position: absolute; top: 1px; left: -11px; }
.bread a { font-size: 13px; color: #808080; text-decoration: none; }
.bread .on a { color: #93d60a; }

.th_page { padding-left: 50px; padding-right: 35px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; float: left; }

.nav_style { margin-bottom: 20px; }
.nav_style > li { display: inline-block; }
.nav_style > li > a { display: none; }
.nav_style > li li { display: inline-block; }
.nav_style a { font-size: 15px; color: #808080; padding: 5px 10px; text-decoration: none; border: 1px solid #808080; display: inline-block; }
.nav_style a:hover { background-color: #93d60a; color: #FFF; border-color: #93d60a; }

.nav_part { width: 175px; background-color: #e5e5e5; padding: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: left; }
.nav_part li { margin-top: 5px; margin-bottom: 5px; }
.nav_part li a { font-size: 12px; color: #808080; text-decoration: none; display: inline-block; padding-top: 5px; padding-bottom: 5px; }
.nav_part li a:hover { color: #93d60a; }

.pt_page { float: right; width: 705px; }
.pt_page li { position: relative; width: 222px; margin-bottom: 20px; float: left; margin-right: 6px; margin-left: 6px; }
.pt_page li h5 { border-top: 4px solid #93d60a; padding-top: 5px; font-size: 14px; content: #333; }

.page { position: relative; }
.page:hover .page_content { display: block; }
.page > figure { width: 222px; }
.page > figure img { width: 100%; }

.page_content { position: absolute; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.8); width: 100%; height: 146px; text-align: center; padding: 5px 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: none; }
.page_content p { color: #FFF; font-size: 13px; margin-bottom: 20px; }
.page_content a { font-size: 14px; text-decoration: none; color: #93d60a; }

@media (max-width: 1000px) { .nav_style { width: 120px; height: 33px; float: left; }
  .nav_style li { position: relative; }
  .nav_style li a { width: 120px; padding-top: 8px; padding-bottom: 8px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-transform: uppercase; line-height: 20px; }
  .nav_style li ul { display: none; position: absolute; top: 33px; left: 0; background-color: #FFF; z-index: 5; }
  .nav_style li ul li { margin-top: -1px; }
  .nav_style > li > a { display: block; }
  .nav_style > li:hover ul { display: block; }
  .nav_style .on { background-color: #e5e5e5; }
  .nav_style .on > a { border-color: #e5e5e5; }
  .nav_style .on:before { content: ""; display: block; width: 0; height: 0; border-style: solid; position: absolute; border-width: 10px 5px 0 5px; border-color: #93d60a transparent transparent transparent; top: 12px; right: 12px; }
  .nav_part { position: absolute; top: 30px; left: 155px; z-index: 4; width: auto; background-color: #fff; padding: 0; }
  .nav_part li { margin: 0; }
  .nav_part li ul { display: none; }
  .nav_part li ul li { margin-top: -1px; }
  .nav_part li a { padding: 8px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #808080; width: 180px; font-size: 15px; line-height: 20px; text-transform: uppercase; }
  .nav_part li a:hover { background-color: #93d60a; color: #FFF; border-color: #93d60a; }
  .nav_part li:hover ul { display: block; }
  .pt_page { float: none; width: 100%; float: left; margin-right: auto; margin-left: auto; margin-bottom: 20px; }
  .pt_page li { width: 47.91667%; float: left; margin-left: 1.04167%; margin-right: 1.04167%; }
  .th_page { padding-left: 20px; padding-right: 20px; padding-top: 30px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .bread { padding-left: 20px; padding-right: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .page > figure { width: 100%; }
  .page_content { height: 100%; }
  .bread { display: none; } }
@media (max-width: 500px) { .pt_page li { width: 97.91667%; float: left; margin-left: 1.04167%; margin-right: 1.04167%; }
  .nav_part li a { width: 140px; } }

/*# sourceMappingURL=page.css.map */
